.CenterAlignDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Part {   
    font-family: "Pretendard-SemiBold";
    width: 30%;
    margin: auto;
}

.Logo_Container {
    display: flex;
    flex-direction: row;  /* 가로 나열 */

    justify-content: center; /* 가로축 가운데 정렬 */
    align-items: center;     /* 세로축 가운데 정렬 */
    gap: 8px;
    height: 110px;

    color: #1C63B7;
}

.Input_txt {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.Input_Label_Container {
    margin: 20px 0;
}

/* submit 버튼 */
.Btn {
    width: 100%;
    padding: 10px;

    color: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #215294;
    background-color: #215294;
    border-radius: 8px;
}




/* 비밀번호 보이고 안 보이고 바꾸는 번튼 관련 css */
.Password_Container {
    position: relative;
    display: flex;
    align-items: center;
}

.Password_Container input {
    width: 100%;
    padding-right: 60px;
}

.ShowBtn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    color: #215294;
    font-size: 13px;
    cursor: pointer;
    font-family: "Pretendard-SemiBold";
}

.ShowBtn:hover {
    text-decoration: underline;
}
