.Table2 {
  width: 100%;
  border-spacing: 10px 3px;
}

.Table2 th, td {
  border: none;
  margin: 0;
  text-align: left;
}

.Table2 tbody tr{
  height: 30px;
}

.Table2 [type="text"] {
  width: 100%;
}

.Table2 textarea {
  width: 100%;
}