@font-face {
  font-family: 'Pretendard-Black';
  src: url('./fonts/Pretendard-Black.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('./fonts/Pretendard-Bold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('./fonts/Pretendard-ExtraBold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('./fonts/Pretendard-ExtraLight.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('./fonts/Pretendard-Light.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./fonts/Pretendard-Medium.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./fonts/Pretendard-Regular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('./fonts/Pretendard-SemiBold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('./fonts/Pretendard-Thin.otf') format('opentype');
  font-style: normal;
}

html {
    font-family: 'Pretendard-Regular';

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

table{
    width: 100%
}

th, td{
    text-align: center;
}